.headerBg{
    background: linear-gradient(45deg, #000000d6, #000000d6),url(../../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}