@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
.navbar-style{
    box-shadow: 0 0 25px #000000;
}

.logo-style{
    font-family: 'Pattaya', sans-serif;
    color: orange !important;
    font-size: 35px;
}
.menu-style{
    color: orange !important;
    font-size: 20px;
    transition: .5s;
}
.menu-style:hover{
    color: gold !important;
}
